


@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



/*whole page */
*{
    margin: 0;
    padding: 0;

}

.navlook{
    background-color: rgb(80, 80, 80);
}

body {
    font-family: 'Rubik', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);

}

a, .button {
    transition: all 300ms ease;
}

/*Navigation*/

nav, .nav-links{
    display: flex; /*aligns without width and heght*/
}

nav {
    justify-content:space-evenly ;
    align-items: center;
    height: 15vh; /*takes 15% of the page */
}

.nav-links{
    gap: 2rem;
    list-style: none; /*removes list dots */
    font-size: 1.5rem;
}

a{
    color:teal ;
    text-decoration: none;
    
}

a:hover{
    color: black;
    
}

.name{
    color: teal;
    font-size: 2rem;
    cursor: default;
}



/*Sections*/

.section_pic-container{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: auto 0;
}



section {
    padding-top: 5vh; 
    height: 95vh;
    margin: 0 10rem; /*side margins*/
    box-sizing: border-box;
    
}



#profile {
    display: flex;
    justify-content: center;
    gap: 5rem; /*gap between section pic and section text*/

}



.profile-pic {
    border-radius: 2rem;
}

.section_text{
    align-self: center;
    text-align: center;

}

.section_text_p1{
    text-align: center;
}

.section_text_p2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    cursor: default;
}



.title{
    font-size: 3rem;
    text-align: center;
    color: teal;
    cursor: default;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

}

/*Icon*/

.icon{
    cursor: pointer;
    height: 2rem;
}

/*Button*/

.button-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.button-colour-1,.btn-colour-2{
    border: rgb(53, 53, 53) 0.1 solid;
    background-color: white;
}



.button-colour-1:hover,.btn-colour-2:hover{
    background: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
    
}

.button-container{
    gap: 1rem;
}


/*About Section*/

#about{
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container {
    justify-content: center;                                                
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border:rgb(53, 53, 53) 0.1rem solid;
    border-color: green;
    text-align: center;
}
.section-container{
    gap: 10rem;
    height: 80%;
    display: flex;
}


/*Experience Section*/
#experience {
    position: relative;
}


.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-evenly;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
    gap: 0.5rem;

}

article .icon {
    cursor: default;
}

/*Projects*/


#projects{
    position: relative;
}

.color-container{
    border-color: green;
    background: white;
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title{
    margin: 1rem;
    color: black;
}

.project-button{
    color: black;
    border-color: purple;
}

/*contact*/

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: green;
    background: white;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: large;
}

.contact.icon{
    cursor: default;
}

.email-icon{
    height: 2.5rem;
    cursor: default;
}

