


@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/*whole page */
*{
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Rubik', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);

}

a, .button {
    transition: all 300ms ease;
}

/*Navigation*/

nav, .nav-links{
    display: flex; /*you can change screen size*/
}

nav {
    justify-content:space-around ;
    align-items: center;
    height: 15vh; /*takes 15% of the page */
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color:teal ;
    text-decoration: none;
    
}

a:hover{
    color: black;
    
}

.name{
    color: teal;
    font-size: 2rem;

}
.name{
    cursor: default;
}


/*Sections*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height:  80hv;

}

.section_pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text{
    align-self: center;
    text-align: center;

}

.section_text p{
    font-weight: 600;
}

.section_text_p1{
    text-align: center;
}

.section_text_p2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    cursor: default;
}

.title{
    font-size: 3rem;
    text-align: center;
    color: teal;
    cursor: default;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

}

/*Icon*/

.icon{
    cursor: pointer;
    height: 2rem;
}

/*Button*/

.button-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600px;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.button-colour-1,.btn-colour-2{
    border: rgb(53, 53, 53) 0.1 solid;
    background-color: white;
}



.button-colour-1:hover,.btn-colour-2:hover{
    background: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
    
}

.button-container{
    gap: 1rem;
}


/*About Section*/

#about{
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border:rgb(53, 53, 53) 0.1rem solid;
    border-color: green;
    text-align: center;
}
.section-container{
    gap: 4rem;
    height: 80%;
}

.section_pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/*Experience Section*/
#experience {
    position: relative;
}

.experience-sub-title{
    color: blue;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;

}

article .icon {
    cursor: default;
}

/*Projects*/


#projects{
    position: relative;
}

.color-container{
    border-color: aqua;
    background: white;
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title{
    margin: 1rem;
    color: black;
}

.project-button{
    color: black;
    border-color: purple;
}

/*Section*/

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: aqua;
    background: white;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: large;
}

.contact.icon{
    cursor: default;
}

.email-icon{
    height: 2.5rem;
}

